body{
    font-family: 'Abel', sans-serif;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Anton', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Livvic', sans-serif;
}
.section-div{
    width: 80%;
    padding-left: 10%;
    margin-bottom: 10px;
}
.section-div p{
    padding-bottom: 5px;
}
#section-one-header-id{
    font-weight: bold;
    font-size: 50px;
    border-left: 5px solid skyblue;
    padding: 10px;
}
.anchor-tag{
    text-decoration: none;
    background-image: linear-gradient(skyblue, skyblue);
    padding: 10px;
    color:white;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
}
.flexible-container{
    display: flex;
    padding-left: 10px;
}
.section-div img{
    width: 75%;
}
.skyblue-color{
    color: skyblue;
}
.bg-img-one{
    background-image: url(images/shapes/shape-4.png);
    background-size: 10%;
    background-position: left;
    background-repeat: no-repeat;
}