body{
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    font-size: 25px;
}
.section-div{
    width: 40%;
    padding-left: 10%;
    padding-bottom: 10px;
}
.section-div p{
    padding-bottom: 10px;
}
.section-div h1{
    font-weight: bold;
    font-size: 60px;
}
#section-one-header-id{
    border-left: 5px solid skyblue;
    padding: 10px;
}
.anchor-tag{
    text-decoration: none;
    background-color: skyblue;
    padding: 10px 30px;
    color:white;
    border-radius: 6px;
    text-align: center;
}
.flexible-container{
    display: flex;
    padding-left: 10px;
}
.section-div img{
    width: 70%;
}
.skyblue-color{
    color: skyblue;
}
.bg-img-one{
    background-image: url(images/shapes/shape-4.png);
    background-size: 10%;
    background-position: left;
    background-repeat: no-repeat;
}
.mymission{
    padding-left: 8%;
    margin-bottom: 60px;
}
.mymission h1{
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}
.mymission-area{
    width: 25%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 20px;
}
#mission-div{
    border: 10px pink;
    border-radius: 20px;
    background-color: pink;
    padding: 30px;
}
#mission-div img{
    size: 5%;
    width: 35%;
}
#vission-div{
    border: 10px powderblue;
    border-radius: 20px;
    background-color: powderblue;
    padding: 30px;
}
#vission-div img{
    size: 5%;
    width: 35%;
}
#goal-div{
    border: 10px cadetblue;
    border-radius: 20px;
    background-color: cadetblue;
    padding: 30px;
}
#goal-div img{
    size: 5%;
    width: 35%;
}
.bg-img-two{
    background-image: url(images/shapes/shape-4.png);
    background-size: 10%;
    background-position: right;
    background-repeat: no-repeat;
}

#section-two-header-id{
    font-weight: bold;
    font-size: 45px;
}
.develop-area{
    width: 40%;
    padding-left: 8%;
    padding-bottom: 55px;
    margin-bottom: 10px;
}
.develop-area p{
    padding-bottom: 10px;
}
.develop-area img{
    width: 70%;
}
.bg-img-three{
    background-image: url(images/shapes/shape-4.png);
    background-size: 10%;
    background-position: left;
    background-repeat: no-repeat;
}
.community-area{
    width: 40%;
    padding-left: 10%;
    margin-bottom: 10px;
    padding-bottom: 55px;
}
.community-area p{
    padding-bottom: 10px;
}
.community-area img{
    width: 75%;
}
.bg-img-four{
    background-image: url(images/shapes/shape-4.png);
    background-size: 10%;
    background-position: right;
    background-repeat: no-repeat;
}
.contact-div{
    width: 70%;
    padding-left: 10%;
    padding-bottom: 10px;
}
#submit-button{
    padding: 10px 10px;
}
#textarea{
    margin: 0px;
    height: 147px;
    width: 823px;;
}
.contact-div img{
    width: 80%;
}
.contact-area{
    padding-right: 8%;
    padding-bottom: 55px;
    margin-bottom: 10px;
}
.contact-item{
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}
#icon-size{
    width: 5%;
}
footer{
    text-align: center;
    border: 2px solid black;
    background-color: black;
    color: white;
}
footer h1{
    font-family: 'Orelega One', cursive;;
}
