body{
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
}
.section-div{
    width: 40%;
    padding-left: 10%;
    padding-bottom: 10px;
}
.section-div p{
    padding-bottom: 10px;
}
#section-one-header-id{
    font-weight: bold;
    font-size: 50px;
    border-left: 5px solid skyblue;
    padding: 10px;
}
.anchor-tag{
    text-decoration: none;
    background-image: linear-gradient(skyblue, skyblue);
    padding: 10px;
    color:white;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    margin-bottom: 10%;
}
.flexible-container{
    display: flex;
    padding-left: 10px;
}
.section-div img{
    width: 75%;
}
.skyblue-color{
    color: skyblue;
}
.bg-img-one{
    background-image: url(images/shapes/shape-4.png);
    background-size: 10%;
    background-position: left;
    background-repeat: no-repeat;
}
.mymission{
    padding-left: 8%;
    margin-bottom: 60px;
}
.mymission h1{
    text-align: center;
}
.mymission-area{
    width: 25%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 20px;
}
#mission-div{
    border: 10px pink;
    border-radius: 15px;
    background-color: pink;
    padding: 10px;
}
#mission-div img{
    size: 5%;
    width: 35%;
}
#vission-div{
    border: 10px powderblue;
    border-radius: 15px;
    background-color: powderblue;
    padding: 10px;
}
#vission-div img{
    size: 5%;
    width: 35%;
}
#goal-div{
    border: 10px cadetblue;
    border-radius: 15px;
    background-color: cadetblue;
    padding: 10px;
}
#goal-div img{
    size: 5%;
    width: 35%;
}
.bg-img-two{
    background-image: url(images/shapes/shape-4.png);
    background-size: 10%;
    background-position: right;
    background-repeat: no-repeat;
}

#section-two-header-id{
    font-weight: bold;
    font-size: 35px;
}
.develop-area{
    width: 40%;
    padding-left: 10%;
    padding-bottom: 55px;
    margin-bottom: 10px;
    margin-right: 3%;
}
.develop-area p{
    padding-bottom: 10px;
}
.develop-area img{
    width: 75%;
}
.bg-img-three{
    background-image: url(images/shapes/shape-4.png);
    background-size: 10%;
    background-position: left;
    background-repeat: no-repeat;
}
.community-area{
    width: 40%;
    padding-left: 10%;
    margin-bottom: 10px;
    padding-bottom: 55px;
}
.community-area p{
    padding-bottom: 10px;
}
.community-area img{
    width: 75%;
}
.bg-img-four{
    background-image: url(images/shapes/shape-4.png);
    background-size: 10%;
    background-position: right;
    background-repeat: no-repeat;
}

